<h1><%= current_affiliate.username.capitalize %>'s Promotions</h1>

<div width="500">
  <table width="100" border= "1" cellpadding= "5">
    <tr>
      <th>Promotion ID</th>
      <th>Song Name</th>
      <th>Slug</th>
      <th>Link To Share</th>
      <th>Track Url</th>
      <th>Username</th>
      <th>Custom Ending</th>
      <th>Edit</th>
    </tr>
    <% @promotions.each do |promotion| %>
    <tr>
      <td><%= promotion.id %></td>
      <td><%= promotion.song.track_name %></td>
      <td><%= promotion.slug %></td>
      <td><%= promotion.short_url %></td>
      <td><%= promotion.track_url %></td>
      <td><%= promotion.affiliate.username.capitalize %></td>
      <td><%= promotion.custom_ending %></td>
      <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
      <!-- <td><%#= link_to 'Show', link %></td>
      <td><%#= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>  -->
    </tr>
    <% end %>
  </table>
</div>

<br/>

<%= link_to 'New Promotion', new_promotion_path %>
